<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />

<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>

  <div class="container page-content">
    <div class="card">
      <div class="card-body">
        <div class="text-center py-3">
          <i data-feather="check-circle" class="text-success" width="48" height="48"></i>
          <h1>Благодарим за заказ.</h1>
          <p>Ваш заказ был сохранен и будет обработан в ближайшее время.</p>
          <p class="mb-0">
            <span class="text-muted">Номер заказа: </span>
            <span class="text-info"><span th:text="${order.id}"></span></span>
          </p>
          <p>
            <span class="text-muted">Всего: </span>
            <span class="text-info"><span th:text="${order.orderTotal} + ' ₽'"></span></span>
          </p>
          <p>Примерная дата доставки <span th:text="${#dates.format(order.shippingDate, 'dd MMM yyyy')}"></span></p>
          <a th:href="@{/store}" class="btn btn-info rounded mb-3">ПРОДОЛЖИТЬ ПОКУПКИ</a>
          <a th:href="@{/order-detail?order=}+${order.id}" class="btn btn-primary rounded mb-3">ПОСМОТРЕТЬ ЗАКАЗ</a>
        </div>
      </div>
    </div>  
  </div>
  
  <div th:replace="common/header :: footer"> </div>
  <div th:replace="common/header :: body-scripts"> </div>

</body>
</html>